.pirmas-button{ border:solid white 1px}
.Strategic{margin-top: -40px;}
.Consulting{margin-top:-40px;}
.Financial{margin-top:-40px;}
.container-1{background-color:aliceblue}
.BusspBox{background-color:beige;}
.howBox{background-color: antiquewhite;}
.cardbutton1{margin-top: -50px;}
.cardbutton2{margin-top:-50px;}
.cardbutton3{margin-top:-50px;}
.basicBox{background-color:whitesmoke}
.StandartBox{background-color: whitesmoke;}
.PopularBox{background-color: whitesmoke;}
